body {
  /* background-color: #C4C4B7; */
  text-align: center;
}

img {
  border-radius: 20%;
}

#level-title {
  font-family: 'Press Start 2P', cursive;
  font-size: 3rem;
  margin: 5%;
  color: black;
  line-height: 0.9;
}

.rabbit {
  position: absolute;
  top: 260px;
  right: 1050px;
}

.green {
  background-color: green;
}

.red {
  background-color: red;
}

.yellow {
  background-color: yellow;
}

.blue {
  background-color: blue;
}

.container {
  display: block;
  width: 50%;
  margin: auto;
}

.btn {
  margin: 25px;
  display: inline-block;
  height: 200px;
  width: 200px;
  border: 10px solid black;
  border-radius: 20%;
}

.game-over {
  background-color: black;
  opacity: 0.9;
}

.pressed {
  box-shadow: 0 0 20px white;
  background-color: grey;
}
